<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>
  {% block title %}
    Sistema de Gestión Escolar con Python y Flask
  {% endblock %}
</title>
<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/mdi/css/materialdesignicons.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/ti-icons/css/themify-icons.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/css/vendor.bundle.base.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/font-awesome/css/font-awesome.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" />
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.bootstrap5.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/loader.css') }}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.png') }}" />
