<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Agregar Empleado</title>
  </head>
  <body>
    <h2>Agregar nuevo empleado</h2>
    <form action="/crear" method="POST">
      <input type="text" name="nombre" placeholder="Nombre" required />
      <input type="text" name="apellido" placeholder="Apellido" required />
      <input type="text" name="sexo" placeholder="Sexo" required />
      <input type="text" name="telefono" placeholder="Teléfono" required />
      <input type="email" name="email" placeholder="Email" required />
      <input type="text" name="profesion" placeholder="Profesión" required />
      <input type="number" name="salario" placeholder="Salario" required />
      <button type="submit">Agregar</button>
    </form>
  </body>
</html>
