{% extends 'base.html' %}
{% block title %}
  Grados
{% endblock %}

{% block content %}

              <div class="col-md-4">
                  <?php if ($edit):
                      echo btn_volver('./');
                  endif; ?>

                  <h4 class="card-title mt-3 mb-5">
                      <?= $edit ? 'Editar' : 'Registrar Nuevo Grado' ?>
                      <hr>
                  </h4>

                  <form class="forms-sample" method="POST" action="<?= $base_static ?>functions/actionsBD.php" autocomplete="off">
                      <input type="hidden" name="action" value="<?= $edit ? 'editCurso' : 'addCurso' ?>">
                      <input type="hidden" name="id_curso" value="<?= $edit ? $cursoDetalles['id_curso'] : '' ?>">
                      <div class="form-group">
                          <label for="Grado del Curso">Grado</label>
                          <input type="text" name="grado" value="<?= $edit ? $cursoDetalles['grado'] : '' ?>" required class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="jornada">Jornada</label>
                          <select name="jornada" class="form-select">
                              <option value="">Seleccione una Jornada</option>
                              <option value="Mañana" <?= $edit && $cursoDetalles['jornada'] == 'Mañana' ? 'selected' : '' ?>>Mañana</option>
                              <option value="Tarde" <?= $edit && $cursoDetalles['jornada'] == 'Tarde' ? 'selected' : '' ?>>Tarde</option>
                              <option value="Nocturna" <?= $edit && $cursoDetalles['jornada'] == 'Nocturna' ? 'selected' : '' ?>>Nocturna</option>
                          </select>
                      </div>
                      <div class="form-group">
                          <label for="seccion">Sección</label>
                          <input type="text" name="seccion" value="<?= $edit ? $cursoDetalles['seccion'] : '' ?>" required class="form-control">
                      </div>

                      <div class="d-grid gap-2 d-md-flex justify-content-center">
                          <button type="submit" class="btn btn-primary me-2"> <?= $edit ? 'Guardar Cambios' : 'Crear Nuevo Grado' ?></button>
                          <?php echo btn_cancelar($base_static); ?>
                      </div>
                  </form>
              </div>

              <!-- Columna de lista de Grados -->
              <div class="col-md-8">
                  <h2 class="text-center">Lista de Grados Total (<?= count($cursos); ?>)</h2>
                  <hr>
                  <div class="table-responsive">
                      <table id="tbl_cursos" class="table table-bordered table-striped table-hover">
                          <thead>
                              <tr>
                                  <th>#</th>
                                  <th>Grado</th>
                                  <th>Jornada</th>
                                  <th>Sección</th>
                                  <th>Acciones</th>
                              </tr>
                          </thead>
                          <tbody>
                            {% for grado in data %}
                                  <tr>
                                      <td width="5%" class="text-center">--- --</td>
                                      <td>{{ grado.grado }}</td>
                                      <td>{{ grado.jornada }}</td>
                                      <td>{{ grado.seccion }}</td>
                                      <td width="10%" class="text-center">
                                        <a class="btn btn-inverse-primary btn-sm" href="{{ url_for('viewEdit', id=grado.id_grado) }}" aria-label="Editar Grado {{ grado.grado }}">
                    <i class="fa fa-edit"></i> Editar
                </a>
                                      </td>
                                  </tr>
                            {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>                      
{% endblock %}
