<!DOCTYPE html>
<html lang="es">
  <head>
    {% include 'components/head.html' %}
  </head>
  <body>
    <div class="container-scroller">
      {% include 'components/sidebar.html' %}
      <div class="container-fluid page-body-wrapper">
        {% include 'components/header.html' %}
        <div class="main-panel fade-in">
          <div class="content-wrapper pb-0 justify-content-center">
            <div class="row justify-content-center">
              <div class="col-sm-12 stretch-card grid-margin">
                <!--       <div class="card border-0">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card" style="border: 1px solid red;">
                      <div class="card-body border">
                        /**
                        Contenido dinamico aqui
                        */
                        </div>
                      </div>
                    </div>
                  </div>
              </div>        -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'components/scripts.html' %}
    {% block scripts %}

    {% endblock %}
  </body>
</html>
